<app-sounds></app-sounds>
<div class="background center">
  <div class="container-fluid">
    <img class="logo" src="../../../assets/logo/Pokemon-logo.svg" alt="logo" />
    <div *ngIf="start">
      <app-ui-button [start]="true" (click)="toggle()"></app-ui-button>
    </div>
    <div *ngIf="settings">
      <app-ui-button [settings]="true" (click)="toggle()"></app-ui-button>
    </div>
    <div *ngIf="languages">
      <app-ui-button [languages]="true" (click)="toggle()"></app-ui-button>
    </div>
  </div>
</div>
