.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/backgrounds/start-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    display: flex;
    justify-content: center;
}

.logo {
    position: relative;
    left: -15px;
    width: 60%;
    height: 60%;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}